.name {
    align-items: center;
    text-align: center;
    color: white;
    border: 2px solid white;
    padding: 4%;
}

.container {
    align-items: center;
    border: 2px solid white;
    padding: 10%;
}

.container-yo{
    align-items: center;
    border: 2px solid white;
}