<div class="name">
    <h1 class="typing-animation">CAROLINA CASTILLO</h1>
</div>

<div class="yo">
    <div class="yo-text">
        <div class="img">
            <img src="https://i.postimg.cc/Y2VL96rD/suances-lokos.jpg" alt="Carolina Castillo">
        </div>

        <div class="text">

            <ul class="nav nav-tabs" id="languageTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="espaniol-tab" data-bs-toggle="tab" href="#espaniol" role="tab"
                        aria-controls="espaniol" aria-selected="true">
                        <img src="https://i.postimg.cc/3NJwfwFq/Bandera-Espana-La-Flamenca-de-Borgona-Bandera-de-Espana-Cruz-de-Borgona-Patricia-Munoz-VOX-Sant.webp"
                            alt="Español" class="flag-icon">
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="english-tab" data-bs-toggle="tab" href="#english" role="tab"
                        aria-controls="english" aria-selected="false">
                        <img src="https://i.postimg.cc/kG1g0djg/Flag-of-the-United-Kingdom-1-2-svg.png" alt="English"
                            class="flag-icon">
                    </a>
                </li>
            </ul>

            <div class="tab-content" id="languageTabContent">
                <div class="tab-pane fade show active" id="espaniol" role="tabpanel" aria-labelledby="espaniol-tab">
                    <p>Hola, soy Carolina Castillo, <strong>Fullstack Developer</strong> y he estudiado Desarrollo de Aplicaciones
                        Multiplataforma, con experiencia en programación, desarrollo de software y gestión de 
                        proyectos tecnológicos. Apasionada por la tecnología, estoy en constante aprendizaje y me encanta trabajar con herramientas modernas
                        para crear soluciones innovadoras que tengan un impacto positivo en el mundo real.
                        
                        Aunque me interesa explorar todas las áreas de la informática, tengo una pasión particular por el  
                        <strong>Desarrollo Frontend, Inteligencia Artificial, Big Data y Análisis de Datos.</strong></p>
                </div>
                <div class="tab-pane fade" id="english" role="tabpanel" aria-labelledby="english-tab">
                    <p>Hello, I’m Carolina Castillo, a <strong>Fullstack Developer</strong> with a background in Multiplatform Application 
                        Development, with experience in programming, software development, and technology project management.
                         Passionate about technology, I am constantly learning and love working with modern tools to create 
                         innovative solutions that have a positive impact on the real world.

                        Although I am interested in exploring all areas of computing, I have a particular passion for 
                        <strong>Frontend Development, Artificial Intelligence, Big Data, and Data Analysis</strong>.</p>
                </div>
            </div>

        </div>

    </div>
</div>
