<!-- <div class="tittle">
    <div class="tittle-stidies">
        <h2>ESTUDIOS</h2>
    </div>
    <div class="tittle-cursos">
        <h2>CERTIFICACIONES</h2>
    </div>
</div> -->



<div class="estudios">

    <div class="studiestittle">
        <div class="tittle">
            <div class="tittle-stidies">
                <h2>ESTUDIOS</h2>
            </div>
        </div>
        <div class="studies">
            <div *ngFor="let study of studies" class="cards">
                <div class="card">
                    <h3 class="title">{{ study.title }}</h3>
                    <div class="info">
                        <p class="location">{{ study.school }}</p>
                        <p class="date">{{ study.date }}</p>
                    </div>
                    <p class="description">{{ study.description }}</p>
                    <div class="languages">
                        <span *ngFor="let language of study.utilities" class="language-bubble">{{ language }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cursostittle">
        <div class="tittle">
            <div class="tittle-cursos">
                <h2>CERTIFICACIONES</h2>
            </div>
        </div>
        <div class="cursos">
            <div *ngFor="let cur of cursos" class="cards">
                <div class="card">
                    <h3 class="title">{{ cur.title }}</h3>
                    <div class="info">
                        <p class="location">{{ cur.school }}</p>
                        <p class="date">{{ cur.date }}</p>
                    </div>
                    <div class="languages">
                        <span *ngFor="let language of cur.utilities" class="language-bubble">{{ language }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>