.tittle {
    font-family: Luckiest Guy;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 3vh;
    width: 100vw;
    box-sizing: border-box;
    padding: 2%;
    margin-top: -30px;
    margin-bottom: 15px;
}

.tittle-stidies {
    font-size: 100px;
    text-align: center;
    width: 65%;
}

.tittle-cursos {
    text-align: center;
    width: 35%;
}

h2{
    font-size: 50px;
}

.estudios {
    margin-top: -5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 75vh;
    width: 100vw;
    box-sizing: border-box;
    padding: 2%;
}

.studies {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 65%;
    padding: 4%;
    overflow-y: auto;
}

.studies::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.cursos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 35%;
    padding: 4%;
    overflow-y: auto;
}

.cursos .card {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: left;
    position: relative;
    overflow-y: auto;
}

.cursos::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.studies .card {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: left;
    position: relative;
    overflow-y: auto;
}

.title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 1.5%;
}

.date {
    font-size: 15px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    margin-right: 15px;
}

.location {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 15px;
}

.description {
    font-size: 1rem;
    /* Aumentar tamaño de descripción */
    color: #555;
    margin-bottom: 15px;
}

.languages {
    display: flex;
    gap: 10px;
}

.language-bubble {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.9rem;
}