<header class="header">
    <div class="menu-toggle" (click)="toggleMenu()">☰</div>

    <div class="header-nav" [ngClass]="{ 'show': menuOpen }">
        <!-- Apartados del menú a la izquierda -->
        <nav class="nav">
            <a *ngFor="let link of navLinks" (click)="navLinkSelected(link.path)"
                [ngClass]="{'selected': selectedLink === link.path}">
                {{ link.label }}
            </a>
        </nav>
    </div>

    <!-- Iconos alineados a la derecha -->
    <div class="header-icon">
        <a href="https://www.linkedin.com/in/carolina-castillo-gil-48462330b/"><i class="bi bi-linkedin"></i></a>
        <a href="https://github.com/CarolinaCasGil"><i class="bi bi-github"></i></a>
    </div>
</header>
